---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular"
;

.contact-icons {
  display: flex;
  align-items: center; /* vertically align icons and globe */
  gap: 10px;            /* optional spacing between icons and globe */
}

#visitor-globe-container {
  width: 80px;      /* adjust as needed */
  height: 80px;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;   /* prevents it from shrinking if container is small */
}

#visitor-globe-container iframe,
#visitor-globe-container canvas {
  width: 100% !important;
  height: 100% !important;
}

